<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width,maximum-scale=1.0,user-scalable=no"
      name="viewport"
    />
    <title>Scratch Test</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
  </head>
  <body>
    <div id="main" class="container"></div>
  </body>
</html>
