<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,maximum-scale=1.0,user-scalable=no" name="viewport">
  <title>Scratch Test</title>
</head>
<body>
  <div id='main' class='container'/>
</body>
</html>
